
html, body {
    overflow: hidden;
    font-size: 0;
}

body {
    background-color: #111;
    background-image: url("../images/grid-background.gif");
    /*background-image: url("../images/grid_white_inverted.gif");*/
    background-repeat: repeat;
}

#charts, #fans, #meters {
    display: inline-block;
    vertical-align: top;
}

.chart, .fan, .meter {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
}

.meter {
    margin: 3px 40px 0 2px;
    background-color: rgba(0, 0, 0, 0.6);
    vertical-align: top;
}

.chart {
    /*border: 1px solid black;*/
    /*margin: 5px;*/
    /*display: flex;*/
    font-size: 0;
    background-color: rgba(0, 0, 0, 0.15);
}

.chart-histogram {
}

.chart-values {
    display: flex;
    align-items: flex-end;
    height: 100%;
    position: relative;
    z-index: 1;
}

.chart-value {
    display: inline-block;
    flex: 0 0 auto;
}

.chart-legend, .fan-label, .fan-value, .meter-label, .meter-value {
    font-family: "Courier New", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.chart-legend, .fan-label, .meter-label {
    color: white;
}

.chart-legend, .fan-legend {
    padding: 5px;
}

.chart-legend {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    /*bottom: 0;*/
}

.fan-legend {
    display: inline-block;
    margin-top: 10px;
}

.meter-label, .meter-value {
    padding: 5px;
    /*background-color: rgba(0, 0, 0, 0.6);*/
}

.fan-label, .fan-value {
}

/*.graph-chart-point {*/
/*    width: 1px;*/
/*    border-top: 1px solid red;*/
/*}*/

.chart-histogram-bar {
    box-sizing: border-box;
    border: 1px solid black;
    transform-origin: bottom;
}

.fan-frame {
    margin-bottom: 10px;
    float: left;
}

.fan-blades {
    margin-bottom: 10px;
    float: left;
    /*animation-duration: 1.0s; Set ar runtime, keeping it for reference*/
}

.enable-rotate {
  animation: rotateRight infinite linear;
}

@keyframes rotateRight {
  100% {
    transform: rotate(360deg);
  }
}
