
html, body {
    overflow: hidden;
    font-size: 0;
}

body {
    background-color: #111;
    background-image: url("../images/grid-background.gif");
    /*background-image: url("../images/grid_white_inverted.gif");*/
    background-repeat: repeat;
}

#charts, #fans, #meters {
    display: inline-block;
    vertical-align: top;
}

.chart, .fan, .meter {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
}

.meter {
    margin: 3px 40px 0 2px;
    background-color: rgba(0, 0, 0, 0.6);
    vertical-align: top;
}

.chart {
    /*border: 1px solid black;*/
    /*margin: 5px;*/
    /*display: flex;*/
    font-size: 0;
    background-color: rgba(0, 0, 0, 0.15);
}

.chart-histogram {
}

.chart-value {
    display: inline-block;
}

.chart-legend, .fan-label, .fan-value, .meter-label, .meter-value {
    font-family: "Courier New", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.chart-legend, .fan-label, .meter-label {
    color: white;
}

.chart-legend, .fan-legend {
    padding: 5px;
}

.chart-legend {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    /*bottom: 0;*/
}

.fan-legend {
    display: inline-block;
    margin-top: 10px;
}

.meter-label, .meter-value {
    padding: 5px;
    /*background-color: rgba(0, 0, 0, 0.6);*/
}

.fan-label, .fan-value {
}

/*.graph-chart-point {*/
/*    width: 1px;*/
/*    border-top: 1px solid red;*/
/*}*/

.chart-histogram-bar {
    box-sizing: border-box;
    border: 1px solid black;
}

.fan-frame {
    margin-bottom: 10px;
    float: left;
}

.fan-blades {
    margin-bottom: 10px;
    float: left;
    transform-origin: 36.5px 36.5px;
}
